h1 {color: red;}

.item {
    display: inline-block;
}

.link {
    color: black;
    font-size: 25px;
    display: inline-block;
    margin: 10px;
    padding: 25px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: gold;
    content: "";
    transition: width 0.3s ease-out;
}

a:hover::after, a:focus::after {
    width: 100%;
}

.menu {
    display: block;
    text-align: center;
}