h1 {color: black;}

.item {
    display: inline-block;
}

.link {
    color: black;
    font-size: 23px;
    display: inline-block;
    margin: 30px;
    padding: 5px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.link::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgb(255, 238, 1);
    content: "";
    transition: width 0.3s ease-out;
}

.link:hover::after, .link:focus::after {
    width:100%;
}

.menu {
    display: block;
    text-align: center;
}

.me {
    display: inline-block;
    margin-bottom: 10px;
}

.me img {
    border-radius: 20px;
}

.name {
    font-size: 5em;
    margin: 40px;
    margin-bottom: 60px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills {
    font-size: 2em;
    margin: 40px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img {
    margin: 10px;
    float: right;
}

.icon {
    width: 45px;
    height: 45px;
    padding: .5em;
}

.social {
    margin-bottom: 40px;
}

.social p {
    font-size: 1.7em;
    font-weight: 800;
}

.portfolio {
    margin-bottom: 100px;
}

.portfolio span {
    font-size: 1.7em;
    font-weight: 800;
}