h1 {color: red;}

.item {
    margin: 5px;
    display: inline-block;
    padding: 15px;
}

.link {
    color: black;
    font-size: 25px;
    margin: 5px;
    display: inline-block;
    padding: 15px;
}

.item a {
    text-decoration: none;
}



.menu {
    display: block;
    text-align: center;
}